* {
  margin: 0;
  padding: 0;
  color: rgb(212, 175, 55);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.HiContainer {
  display: inline-grid;
  align-items: start;
  grid-template-columns:
    [col-1-end col-2-start]35%
    [col-2-end col-3-start]65%
    [col-3-end];
  padding-top: 3%;
  width: 100%;
}

.RecentHistory {
  overflow: auto;
  height: 100vh;
}

.HiTitle {
  margin: 8%;
  margin-top: 13%;
  justify-self: end;
  text-align: end;
}

.H2Title {
  margin: 8%;
  margin-top: 4%;
  justify-self: start;
  text-align: start;
}

.Search {
  display: inline-grid;
  align-items: start;
  grid-template-columns:
    [col-1-end col-2-start]65%
    [col-2-end col-3-start]35%
    [col-3-end];
  padding-top: 3%;
  width: 100%;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

.Range {
  margin-right: 8%;
}

.HiForm {
  width: 80%;
  font-size: 1.4rem;
  border-radius: 15px;
  margin: 8%;
  padding: 2%;
}
.h2Form {
  width: 80%;
  font-size: 1.4rem;
  border-radius: 15px;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 6%;
  margin-top: 2%;

  padding: 2%;
  justify-self: end;
  text-align: end;
}

input {
  border: 2px solid rgb(212, 160, 55);
  background-color: whitesmoke;
  height: 5vh;
  min-height: 8vh;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  padding-left: 1.5%;
}

input::placeholder {
  color: rgb(212, 175, 55);
}

#phone {
  width: 45%;
  color: rgb(212, 175, 55);
}

#comment {
  border: 2px solid rgb(212, 160, 55);
  background-color: whitesmoke;
  color: rgb(212, 175, 55);
  font-size: 1.8rem;
  width: 90%;
  height: 20vh;
  min-height: 100px;
  margin-top: 6px;
  outline-color: rgb(212, 160, 55);
  padding-left: 1.5%;
}

#gif {
  border: 2px solid rgb(212, 160, 55);
  background-color: whitesmoke;
  color: rgb(212, 175, 55);
  font-size: 1.8rem;
  width: 90%;
  height: 10vh;
  min-height: 100px;
  margin-top: 6px;
  outline-color: rgb(212, 160, 55);
  padding-left: 1.5%;
}

#gif::placeholder {
  color: rgb(212, 175, 55);
}

#comment::placeholder {
  color: rgb(212, 175, 55);
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#aButton {
  background-color: whitesmoke;
  color: rgb(212, 175, 55);
  width: 22.5%;
  height: 7vh;
  min-height: 40px;
  font-size: 1.4rem;
  margin-top: 1%;
}

#bButton {
  color: whitesmoke;
  background-color: rgb(250, 131, 179);
  width: 100vw;
  height: 3vh;
  min-height: 20px;
  font-size: 1.4rem;
  margin-top: 1%;
}

#cButton {
  color: whitesmoke;
  background-color: rgb(245, 130, 149);
  width: 100vw;
  height: 3vh;
  min-height: 20px;
  font-size: 1.4rem;
  margin-top: 1%;
}

button:focus {
  outline-color: rgb(212, 175, 55);
}

input:focus {
  border: none;
  outline-color: rgb(212, 160, 55);
}

.Modal {
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.Modal-Open {
  background: rgba(0, 0, 0, 0.85);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.Full {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-out;
}

.Sender {
  color: rgb(212, 160, 55);
  text-align: left;
  margin-left: 30%;
  border-bottom: 1px dotted;
}

.Receiver {
  color: rgb(230, 116, 135);
  text-align: right;
  margin-right: 30%;
  border-bottom: 1px dotted;
}

/* *********************************** */
/* MOBILE */

@media (max-width: 775px) {
  .HiContainer {
    display: inline-block;
    grid-template-rows:
      [row-1-end row-2-start]20%
      [row-2-end row-3-start]80%
      [row-3-end];
    text-align: center;

    padding-top: 5%;
    width: 100%;
  }

  .Search {
    display: inline-block;
    grid-template-rows:
      [row-1-end row-2-start]20%
      [row-2-end row-3-start]80%
      [row-3-end];
    text-align: center;

    padding-top: 5%;
    width: 100%;
  }

  .HiForm {
    width: 80%;
    font-size: 2.1rem;
    border-radius: 15px;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
  }

  .h2Form {
    width: 80%;
    font-size: 2.1rem;
    border-radius: 15px;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
    text-align: center;
  }

  .HiTitle {
    text-align: start;
    margin-left: 12%;
  }

  h1 {
    font-size: 6rem;
    text-align: center;
  }

  h2 {
    font-size: 6rem;
    text-align: center;
  }

  textarea {
    font-size: 1.3rem;
  }

  input {
    border: 2px solid rgb(212, 160, 55);
    background-color: whitesmoke;
    height: 5vh;
    font-size: 1.3rem;
  }

  #comment {
    height: 20vh;
    font-size: 0.8rem;
  }

  #gif {
    border: 2px solid rgb(212, 160, 55);
    background-color: whitesmoke;
    color: rgb(212, 175, 55);
    font-size: 1.8rem;
    width: 90%;
    height: 20vh;
    min-height: 100px;
    margin-top: 6px;
    outline-color: rgb(212, 160, 55);
    padding-left: 1.5%;
  }

  #aButton {
    width: 35%;
  }

  #bButton {
    min-height: 70px;
    background-color: rgb(212, 160, 55);
  }

  #cButton {
    min-height: 70px;
    background-color: rgb(212, 160, 55);
  }

  #hiButton {
    margin-top: 3%;
    width: 45vw;
    height: 6vh;
  }

  .Sender {
    margin-left: 12%;
  }

  .Receiver {
    margin-right: 12%;
  }
}
