* {
    margin: 0;
    padding: 0;
    color: rgb(212, 175, 55);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.HiContainer {
  display: inline-grid;
  align-items: start;
  grid-template-columns:
    [col-1-end col-2-start]35%
    [col-2-end col-3-start]65%
    [col-3-end];
  padding-top: 8%;
  width: 100%;
}

.HiTitle {
  margin: 8%;
  margin-top: 15%;
  justify-self: end;
  text-align: end;
}

h1 {
  font-size: 8rem;
}

.HiForm {
  width: 80%;
  font-size: 1.4rem;
  border-radius: 15px;
  margin: 8%;

  padding: 2%;
}

input {
  border: 2px solid rgb(212, 160, 55);
  background-color: whitesmoke;
  height: 5vh;
  min-height: 8vh;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  padding-left: 1.5%;
}

input::placeholder {
  color: rgb(212, 175, 55);
}

#phone {
  width: 45%; 
  color: rgb(212, 175, 55);
}

#comment {
  border: 2px solid rgb(212, 160, 55);
  background-color: whitesmoke;
  color: rgb(212, 175, 55);
  font-size: 1.8rem;
  width: 90%;
  height: 20vh;
  min-height: 100px;
  margin-top: 6px;
  outline-color: rgb(212, 160, 55);
  padding-left: 1.5%;
}

#comment::placeholder {
  color: rgb(212, 175, 55);

}

#hiButton {
  /* border: 2px solid rgb(212, 160, 55); */
  background-color: whitesmoke;
  width: 22.5%;
  height: 7vh;
  min-height: 40px;
  border: none;
  color: rgb(212, 175, 55);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 1%;
}

#hiButton:focus {
  /* border: none; */
  outline-color: rgb(212, 175, 55);
}

input:focus {
  border: none;
  outline-color: rgb(212, 160, 55);
}

.Modal {
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.Modal-Open {
  background: rgba(0, 0, 0, 0.85);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.Full {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-out;
}

/* *********************************** */
/* MOBILE */

@media (max-width: 775px) {
  .HiContainer {
    display: inline-block;
    grid-template-rows:
      [row-1-end row-2-start]20%
      [row-2-end row-3-start]80%
      [row-3-end];
    text-align: center;

    padding-top: 5%;
    width: 100%;
  }

  #hello {
    grid-row-start: row-1-start;
    grid-row-end: row-1-end;
  }

  .HiForm {
    width: 80%;
    font-size: 2.1rem;
    border-radius: 15px;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
  }

  .HiTitle {
    text-align: start;
    margin-left: 12%;
  }

  h1 {
    font-size: 6rem;
  }

  #name {
    width: 90%;
  }

  #email {
    width: 90%;
  }

  input {
    border: 2px solid rgb(212, 160, 55);
    background-color: rgba(212, 160, 55, 0.534);
    height: 5vh;
    font-size: 0.8rem;
  }

  #comment {
    height: 20vh;
    font-size: 0.8rem;
  }

  #hiButton {
    margin-top: 3%;
    width: 45vw;
    height: 6vh;
  }
}